<h3>%@ - %@</h3>


<p><strong>Nome: </strong>%@</p>
<p><strong>Data de Nascimento: </strong>%@</p>
<p><strong>Profissão: </strong>%@</p>
<p><strong>CPF: </strong>%@</p>
<p><strong>RG: </strong>%@</p>
<p><strong>Endereço: </strong>%@</p>
<p><strong>Bairro: </strong>%@</p>
<p><strong>Cidade: </strong>%@</p>
<p><strong>CEP: </strong>%@</p>
<p><strong>Celular: </strong>%@</p>
<p><strong>Telefone: </strong>%@</p>
<p><strong>E-mail: </strong>%@</p>
<p><strong>Indicação: </strong>%@</p>
<p><strong>Forma de Contato: </strong>%@</p>
<p></br>

<hr>